
h4{
    margin-top: 15px;
    font-size: 25px;
}
.menuContent{
    margin: 5vw;
    padding: 2vw;
}
.menuContent img{
    width: 86vw;
    height: 70vw;
    border-radius: 9px;
    border: 1px solid rgb(212, 210, 210);
    padding: 2px;
    box-shadow: 1px 1px 6px 0px rgb(154, 153, 153);
}

.price{
    color: #34785d;
    font-weight: bold;
}
.miniPara{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.description{
    margin-top: 15px;
    border:#34785d 1px solid;
    align-content: center;
    padding: 2vw;
    border-radius: 10px;
}
h5{
    font-size: 20px;
    margin-bottom: 15px;
}
button{
    margin: 15px;
    border: none;
    color: white;
    width: 100%;
    height: 35px;
    background: #34785D;
    
}
.addToCart{
    margin-top: 15px; 
    
}
.confirmOrder{
    margin-top: 15px ;
    border: none;
    color: white;
    width: 110%;
    height: 35px;
    background: #34785D;
    width: 86vw;
    margin:  22px 0px 20px 20px;
    box-shadow: 2px 2px 6px 2px rgb(154, 153, 153);
}

/* Add to cart css */
.addedToCart{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 19px;
}
.quantityDiv{
    display: flex;
    justify-content: space-evenly;
   width: 87vw;
   align-items: baseline;
}
.addedToCartButton{
    display: flex;
    justify-content: space-between;
}
.quantityButton{
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.smallButton{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
}