* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
/* Search Bar + small logo */

.App-header{
    display: flex;
    align-items: center;
}
.search-input{
  background-color:transparent;
  border-radius: 50px;
  outline: none;
  border: 2px solid #34785D;
  color: #000000;
  height: 2rem;
  width: 15rem;
}
.search-btn{
    border: none;
    color: #34785D;  
    background-color:transparent;
    margin-left: -1.6rem;
    font-size: 15px;
}
.smallLogo{
    height:8rem;
}
hr{
  background-color: #34785D
}

@media only screen and (max-width: 600px) {
    .smallLogo{
        height:5rem;
    }
  }

/* MainSection Style */
.imgCatageory{
    width: 100px;
    height: 120px;
=======
/* MainSection Style */
.imgCatageory{
    width: 10px;
    height: 30px;
}
.catagoryEach{
    display: flex;
    flex-wrap: wrap;
>>>>>>> e580163b06b94aba68d604b48cb68f6dc0194e94
}
/* Navbar style */
.footer {
    margin-top: 30px; 
    padding: 5px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    color: #34785D;
   font-size: 40px;
}

.navbar {
    list-style: none;
}
