* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    font-size: 31px;
}

p {
    font-size: 19px;
}
/*header */
/* Search Bar + small logo */

.App-header{
    display: flex;
    align-items: center;
    /* Prati included check */
    /* justify-content: space-around;
    padding-right: 40px; */
    margin-right: 5vw;
    padding-left: 2vw;
    
}

.search-input{
  background-color: transparent;
  border-radius: 50px;
  outline: none;
  border: 2px solid #34785D;
  color: #000000;
  height: 9vw;
  width: 65vw;
  /* 2,15rem */
}

.search-btn{
    border: none;
    color: #34785D;  
    background-color:transparent;
    margin-left: -1.6rem;
    font-size: 15px;
}

.smallLogo{
    height:8rem;
}

hr{
  background-color: #34785D
}

@media only screen and (max-width: 600px) {
    .smallLogo{
        height:5rem;
    }
  }

/* MainSection Style */
.imgCategory {
    width: 25vw;
    height: 20vw;
}

.mainSection {
    margin-top: 30px;
    margin: 5vw;
    padding: 2vw;
}

.imgC {
    width: 40vw;
    height: 30vw;
    border-radius: 8px;
}

.h3heading{
    margin-bottom: 15px;
}

.categorySection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.categoryEach{
    margin-bottom: 5px;
}

/* Navbar style */
.footer {
    margin-top: 30px;
    margin: 5vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: #34785D;
    font-size: 8vw;
}

.navbar {
    list-style: none;
}
