
/*header */
/* Search Bar + small logo */

.App-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    margin-right: 5vw;
    padding-left: 2vw;  
    
}

.search-input{
  position: relative;
  background-color: transparent;
  border-radius: 50px;
  outline: none;
  border: 2px solid #34785D;
  color: #000000;
  height: 9vw;
  width: 65vw;
  padding: 15px;
}

.search-btn{
    color: #34785D;  
    background-color: white;
    border: none;
    color: #34785D;
    font-size: 18px;
    position:absolute;
    transform: translateY(-45%); 
    left: 81vw; 
    padding: 0; 
    cursor: pointer;
    align-items: center;
    top: 1.6rem;
    width: 1.3rem;
    height:30px;
    
}

.smallLogo{
    height:8rem;
}

hr{
  background-color: #34785D;
  width: 100%;
}

@media only screen and (max-width: 600px) {
    .smallLogo{
        height:5rem;
    }
    .mainSection {
        height: auto;
    }

    footer {
        height: 90px;
    }
}


/* MainSection Style */
.imgCategory {
    width: 20vw;
    height: 20vw;
    
}

.mainSection {
    margin-top: 30px;
    margin: 4vw;
    padding: 2vw;
    position: relative;
    padding-bottom: 90px;
    
}

.imgC {
    border-top: 10px;
    width: 40vw;
    height: 30vw;
    border-radius: 8px;
}

.h3heading{
    margin-bottom: 15px;
    
}


.categorySection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 15px 5px;
    /* text-decoration: unset; */
}

.categoryEach{
    margin-bottom: 5px;
    
}

.paraC{
    text-decoration: none;
}

/* Navbar style */
hr{
    background-color: #34785D
  }
.footer {
    margin-top: 30px;
    margin: 5vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 90px;   
    background-color: white;
 }

.icon {
    color: #34785D;
    font-size: 8vw;
}

.navbar {
    list-style: none;
}

.link{
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    
}
