/* Style for ChefListComponent */
.chefList {
    display: flex;
    justify-content: center; 
    margin-top: 2em;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    Margin: 5vw;
    padding: 2vw;
}
.cuisineName{
    font-style: 'Poppins';
}
/* Style for ChefItem component */
.chefItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    gap: 0px 15px;
}
.imgDiv {
    width: 35vw;
    height: 20vh;
    
    
}
.chefImg {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}
.chefCard {
    display: flex;
    flex-direction: column;
    background-color: #34785D;
    width: 48vw;
    height: 20vh;
    border-radius: 10px;
}
.chefName {
    font-family: 'Poppins';
    font-size: 10px;
    text-align: left;
}
.cuisineDescription {
    font-family: 'Poppins';
    text-align: center;
}

/* Back button style */

.iconBack {
    color: #000000;
    background-color: green;
    border-radius: 50%;
}