*{
    margin: auto;
    padding: auto;
    font-family: 'Poppins';
}
.userTitle{
    
    
    padding:  0.6em;
    color: #ffffff;
  
}

.background{
    background-color: #34785D;
    color: white;
    height: 107vh;
    width: 107vw;
}
.textBoxe{
    font-size: 16px;
	width: 86%;
	border: none;
	border-bottom: 2px solid #34785D;
	color: #333;
	
}
input.checkBox{
   margin-right:5em;
}
.boxTerms{
    font-size: 16px;
    width: 86%;
    padding: 5px;
    border: 2px solid #050505;
    text-align: center;
    background-color: #ffffff;
    color: #34785D;
    
}
input[type="checkbox"]:checked + .boxTerms{
    background-color: #34785D;
    color: #fdfdfd;
}

.submit {
	border: none;
    color: white;
    border: 2px solid #050505;
    width: 86%;
    height: 35px;
    background: #34785D;
    text-transform: uppercase;
    cursor: pointer;
	align-items: center;
  }
