@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins";
  overflow-x: hidden;


}
a { color: inherit; text-decoration: none;} 
h3{
  font-family: 'Sacramento';
  font-size: 30px;
}
p {
    font-size: 15px;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logoHomepage {
 width: 100vw;
 height: 100vh;
 background-color: #34785d;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


.logoHomepage img {
 width: 100vw;
 height: 45vh;
 max-width: fit-content;

}
.focus-in-contract{
-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
position: absolute;
margin-top: 9rem;
color:white;
font-size: 12px;
font-family: "Alegreya SC";
letter-spacing:0.2em;
}




 @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  