

.logoImg {
    margin-top: 20%;
    margin-bottom: 5em;
    width: 50vw;
    height: 50vw;
    object-fit: cover;
}
/* .forgotpwdform{
    align-items: center;
} */
.forgotPwdPage{
    display: flex;
}
.mailinput{
    border: black;
}