.forgotPwdPage{
    /* margin: 5vw; */
    padding: 4vw;
    width: 100vw;
    height: 100vh;
    background-color: #34785d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.logoImg {
    width: 92vw;
  height: 45vh;
  object-fit: cover;
}
.loginButton{
    border: 1px solid black;
    align-items: center;
    width: 70vw;
    margin: 17px 25px 17px 26px;
    box-shadow: 2px 2px 6px 0px rgb(65 66 66);
    
  }
  .phuName {
    font-family: 'Poppins';
    width: 88vw;
    padding-inline-start: 9px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .phPwd{
    font-family: 'Poppins';
    width: 88vw;
    padding-inline-start: 9px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  } 