*{
  margin: 5vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';

}
.maindivision {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #34785d;
  height: 100vh;
}

.logoLogin {
  width: 100%;
  height: 78%;
  max-width: 300px;
  margin-left: 2em;
  object-fit: cover;
}

input.textBox{
  border-bottom: 1px solid #fdfffe;
  border-radius: 5px;
  padding-left: 5px;
  
}
.logininput {
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
  width: 89%;
  margin: 1em;  
}

.p,.loginemail {
  color: white;
  margin: 1em;
}


.submitLoginButton {
  margin-top: 15px;
  margin: 1em;
  margin-left: 28vw;
  border-radius: 10px;
  border: 1px solid #3f3d3d;
  color: white;
  width: 39%;
  height: 35px;
  background: #34785D;
  font-family: 'poppins';
  letter-spacing: 2px;
  box-shadow: 3px 2px 7px 0px rgb(76,76,76);
}
.loginpageBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

.Signup, .forgotPassword, .Becomeachef {
  color: white;
  background-color: #34785d;
  border: none;
  font-size: smaller;
  margin: 10px;
  margin-left: 10px;
  }
  .bottomDiv{
    display: flex;
    padding-left: 23px;
    padding-right: 5px;
  }
  .loginpageformu{
    margin-left: 7px;
    margin-right: 5px;
  }




