@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* CHEF FORM */
*{
	margin: auto;
	padding: auto;
	font-family: 'Poppins';
	
}
.userTitleu{
	font-size: 30px;
	font-weight: 600;
	padding:  0.6em;
	color: #ffffff;
}
.form-container {
	background-color: #34785D;
	padding: 20px;
	
  }
  
  .input-field {
	font-size: 16px;
	width: 86%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #34785D;
	color: #333;
	font-family: 'Poppins';
  }
  
  .avatar-upload-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 50%;
	overflow: hidden;
  }
  
  .avatar-upload-container input[type='file'] {
	display: none;
  }
  
  .avatar-upload-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .avatar-upload-container .upload-text {
	font-size: 20px;
	color: #34785D;
	text-align: center;
  }
  
  .submit-button {
	border: none;
    color: white;
    border: 2px solid #000000;
    width: 86%;
    height: 35px;
    background: #34785D;
    text-transform: uppercase;
    cursor: pointer;
	align-items: center;
  }
  
.upload-text:hover {
    cursor: pointer;
    color: #34785D;
}
.dish-container input{
	width: 86%;
}

textarea {
    resize: none;

}
  hr{
	background-color: #34785D
  }  

  .dish-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
	width: 86%;
	background-color: #34785D;
}

.input-field[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
  }

.chooseFile[type="file"]::before {
	  content: "Choose a file";
	  border: 2px solid #000000;
	  color: white;
	  width: 110px;
	  height: 35px;
	  background: #34785D;
	  text-transform: uppercase;
	  cursor: pointer;
	  text-align: center;
	  padding:5px 10px;
	  white-space: nowrap;
	  margin: -20px;
	  font-family: 'Poppins';
	}
  
	textarea.input-field{
		width: 100%;
		height: 100px;
		border: 1px solid #000000;
	}
	
	textarea.center-text{
		width: 86%;
	}