.chefProfileMainDiv{
    margin: 5vw;
    padding: 2vw;
    
}

.chefPic1{
    height: 25vh;
    width: 86vw;
    border-radius: 10px;
    object-fit: cover;
    /* padding-bottom: 15px; */
    
}

p{
    font-size: 15px;
    
}
/* .chefProfileMainDiv{
    height: 132vw;
} */
.chefName{
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 23px;
    text-align: left;
}
.chefaboutMe{
    padding-bottom: 10px;
   
}
.chefRating{
    margin-bottom: 10px;
}
.menuHeading{
    margin-bottom: 0px;
}
