.menuPic1{
    height: 18vh;
    width: 32vw;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
}
.menuItem1{
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #34785D;
    border: 2px solid #34785D;
    border-radius: 10px;
    padding:10px;
    /* margin: 10px; */
    Margin: 5vw;
    padding: 2vw;

}
.menuItemName{
    font-size: 16px;
    margin-bottom: 8px;
}
.menuItemDes{
    font-size: 10px;
    margin-bottom: 8px;
}
.menuItemDate{
    font-size: 10px;
}
.menuItemPrice{
    font-size: 12px;
   color: #34785D;
   margin-bottom: 8px;
}

.itemlink{
    text-decoration: none;
    color: inherit;
    font-style: 'Poppins';
}

