*{margin: 0;}

.lastpage {
  width: 100vw;
  height: 100vh;
  background-color: #34785d;
}

.lastpage img{
  margin-top: 20%;
  width: 50vw;
  height: 50vw;;
}
.lastpagethanks{
  color:white;
  margin-bottom: 20px;
  margin-top: 50px;
}

.lastpageback{
  color:white;

}
/* .lastpagethanks{

}

lastpageback{
  
} */
/* @media only screen and (min-width: 1224px) { 
   
    .logoButton{size:300px;

    
   } } */

@media only screen and (max-width: 600px) {
  .logoButton {
    height: 10px;
    border: red solid 2px;
  }
}
